<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title><%= title %></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="stylesheets/normalize-min.css" rel="stylesheet" media="all">
	<link href="stylesheets/style.css" rel="stylesheet" media="all">
	<!-- Scripts Begin - Jquery & Socket.io CDN, Local Fallbacks -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.10/socket.io.min.js"></script>
	<script>window.jQuery || document.write('<script src="javascripts/jquery.min.js"><\/script>')</script>
	<script>window.jQuery || document.write('<script src="javascripts/socket.io.min.js"><\/script>')</script>
	<script type="text/javascript" src="/javascripts/app.js"></script>
	<!-- Scripts End -->
</head>
<body>
	<header>	
	</header>

	<div class="wrapper">
	</div>
	
	<footer>
	</footer>
</body>
</html>
